.site-nav-outer {
	padding: 148px 0 17px;
	transition: padding .1s ease-in-out;
	@include mq(sm) {
		padding: 267px 0 17px;
	}
	.slim & {
		padding: 17px 0;
	}
}
.site-nav-toggle {
	position: relative;
	background: transparent;
	border: 0;
	color: #fff;
	@include font(18,30,700,$serif);
	border-top: 1px solid #76828c;
  border-bottom: 1px solid #76828c;
	padding: 3px 3px 3px 33px;
	width: calc( 50% - 5px );
	text-align: left;
	display: none;
	outline: none;
	@include mq(sm) {
		display: block;
	}
	&::before {
		content: " ";
		display: block;
		@include sprite($mobile-menu-ico);
		position: absolute;
		top: 12px;
		left: 9px;
	}
}
.site-nav{
	height: 48px;
	@include mq(md){
		font-size: 0.9em;
	}
	@include mq(sm){
		display: block;
		height: 0;
	}
	&__link,
	&__drop {
		& > a,
		& > span  {
			display: inline-block;
			width: 100%;
			@include font(20,30,700,$serif);
			padding: 10px 0;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			&:focus {
				outline: none;
				color: $orange;
			}
		}
		& > a {
			border-top: 1px solid #76828c;
			border-bottom: 1px solid #76828c;
			transition: background .2s ease-in;
			@include mq(sm) {
				background: #76828c;
			}
			&:hover {
				background: #76828c;
			}
		}
		& > span {
			@include font(18,22,700,$serif);
			background: linear-gradient(to bottom, rgba(242,107,75,1) 0%,rgba(237,163,81,1) 100%);
			position: relative;
			padding: 26px 0 16px;
			transition: padding .1s ease-in-out;
			@include mq(sm) {
				padding: 12px 5px;
			}
			.slim & {
				padding: 10px 0;
			}
			&::after{
				content: " ";
				display: block;
				@include sprite($drop-border);
				position: absolute;
				top: 100%;
				@include mq(sm){
					display: none;
				}
			}
			&::before{
				content: " ";
				display: block;
				@include sprite($drop-border_act);
				position: absolute;
				top: 100%;
				transition: height .3s ease-in;
				height: 0;
				@include mq(sm){
					display: none;
				}
			}
			&.act {
				&::before {
					height: 43px;
				}
			}
		}
	}
	&__link {
		@include mq(sm) {
			display: none;
		}
	}
	&__drop {
		position: relative;
		top: -148px;
		transition: all .1s ease-in-out;
		@include mq(lg){
			position: absolute;
			top:0;
			width: 195px;
		}
		@include mq(sm){
			width: calc(50% - 5px);
			top: 172px;
		}
		.slim & {
			top: -17px;
		}
		&_1 {
			right: 95px;
			@include mq(lg) {
				right: 50%;
			}
			@include mq(sm) {
				padding: 0;
				right: inherit;
				left: 0;
			}
			.slim & {
				right: -17px;
			}
		}
		&_2 {
			left: 95px;
			@include mq(lg) {
				left: 50%;
			}
			@include mq(sm) {
				padding: 0;
				left: inherit;
				right: 0;
			}
			.slim & {
				left: 0;
			}
			.drop {
				right: $gutter;
				&::before {
					left: inherit;
					right: 0;
				}
			}
		}
		& > span {
			cursor: pointer;
		}
	}
	
}
.drop {
	background: #f4f0eb;
	position: absolute;
	width: 650px;
	top: 104px;
	padding: 20px;
	display: none;
	transition: top .3s ease-in;
	@include mq(sm) {
		width: auto;
		transition: none;
	}
	&.forLightBox {
		position: static;
		display: block;
	}
	.slim & {
		top: 82px;
	}
	.btn {
		margin: 15px auto 25px;
		display: block;
		width: 360px;
		text-align: center;
		@include mq(sm){
			width: auto;
			display: inline-block;
			margin: 15px 0;
			padding: 5px 7px;
			font-size: 1.1em;
		}
	}
	&_act {
		top: 148px;
		.slim & {
			top: 126px;
		}
	}
	.drop-menu {
		column-count: 2;
		@include mq(sm){
			column-count: inherit;
		}
		li {
			a {
				color: #3d4e5b;
				border: 0;
				&:hover {
					color: #e84a23;
					border: 0;
				}
			}
			&:before {
				background-color: #88a0b5;
			}
		}
	}
}
