extends layout 

block content
  .container
    .header__slider
      .slider.js-slider-1
        each val in [1,2]
          .slider__item
            .slider__inner.row
              .slider__pic.col
                svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="650" height="530").slider-svg-mask
                  defs
                    filter#filter
                      feGaussianBlur(stdDeviation="22")
                    mask#mask
                      ellipse(cx="50%" cy="50%" rx="37%" ry="37%" fill="white" filter="url(#filter)")
                  image(xlink:href="./images/slider"+val+".jpg" mask="url(#mask)" width="650" height="530").sliderImage
              .slider__info.col
                .title Семейные <br /> споры
                p.
                  Мы всегда относимся с пониманием к эмоциональным переживаниям, обусловливающим всякого рода семейные прения, и в полной мере осознаем необходимость поиска деликатных и, в конечном счете, оптимальных решений. 
                a(href="/moreinfo", title="подробнее").btn подробнее
      button.slider-arrow.js-slider-1-left previos
      button.slider-arrow.js-slider-1-right next
      .slider-dots.js-slider-1-dots
  </header>
  <main>
  // Header end here
  .container
    .services.block
      .h1 Услуги
      .services__toggle
        .row
          .col
            a(href="#", title="Физическим лицам" data-toggle="1").act Физическим лицам 
          .col
            a(href="#", title="Юридическим лицам" data-toggle="2") Юридическим лицам 
      .services__block.act
        .row
          each val, idx in {1: 'Банкротство физического лица',2: 'Гражданские споры',3: 'Жилищные споры',4: 'Защита прав потребителей',5: 'Земельные споры',6: 'Наследственные дела',7: 'Семейные споры',8: 'Кредитные и долговые споры',9: 'Уголовные дела',10: 'Страховые споры'}
            .col.services__item
              a(href="/").srv
                img(src="./images/services"+idx+".png").srv__img
                .m-title= val
                .srv__txt.
                  Текст максимум в три строки об услуге, чтобы клиент сразу понял какой раздел ему нужен 
      .services__block
        .row
          each val, idx in {1: 'Банкротство физического лица',2: 'Гражданские споры'}
            .col.services__item
              a(href="/").srv
                img(src="./images/services"+idx+".png").srv__img
                .m-title=val
                .srv__txt.
                  Текст максимум в три строки об услуге, чтобы клиент сразу понял какой раздел ему нужен
  .about.block
    .container
      .about__inner
        .h1 О компании
        p.
          Указ реквизирует имущественный акцепт, что часто служит основанием изменения и прекращения гражданских прав и обязанностей. Рефинансирование, если рассматривать процессы в рамках частно-правовой теории, экстремально гарантирует бытовой подряд. Информация недетерминировано защищает обычай делового оборота. Согласно постановлению Правительства РФ, фрахтование возмещает предпринимательский риск, когда речь идет об ответственности юридического лица. 
        p.
          Вексель законодательно подтверждает договор. Ответственность трансформирует страховой полис. Фрахтование, если рассматривать процессы в рамках частно-правовой теории, требует платежный гарант.
        a(href="#get", title="получить консультацию").btn получить консультацию
  
  .container
    .team.block
      .row
        each val in [1,2,3]
          .col
            .team__item
              figure.lawyer
                img(src="./images/team"+val+".jpg").lawyer__img
                figcaption
                  a(href="inner1#lawer"+val) 
                    .m-title Имя Фамилия
                    span Специализация адвоката
        .col
          .team__item
            .all 
              .h1 Адвокаты
              p.
                Адвокаты нашей компании — профессионалы, имеющие очень серьезный опыт решения самых разнообразных вопросов.
              a(href="#", title="все адвокаты").btn.btn_w все адвокаты
  .custom.block
    .custom__inner
      .container
        .row
          .col
            .h1 клиенты
            p Каждому клиенту мы оказываем грамотную консультативную помощь и организуем защиту интересов в суде. 
          .col
            .slider-wrapp
              .slider2.js-slider-2
                each val in [1,2,3,4,5]
                  .slider2__item
                    .slider2__inner
                      img(src="./images/client"+val+".jpg")
              button.slider-arrow_small.js-slider-2-left previos
              button.slider-arrow_small.js-slider-2-right next
  .container
    .feedbacks.block
      .h1 Отзывы
      .slider-wrapp.slider-wrapp_feedback
        .slider3.js-slider-3
          each val in ['Екатерина Л.','Владимир Б.','Лора П.']
            .slider3__item
              .feedback.
                 Хочется обратиться со словами благодарности к тем, кто помог мне в решении вопроса жилья. Никогда не думала, что окажусь в такой ситуации. Моя мать хотела добиться моего выселения из квартиры и снятия с учета. Спасибо Латыновой Елене Васильевне за то, что помогла мне и поддержала, только с ее помощью меня не лишили жилья.
              .author= val
        button.slider-arrow_small.slider-arrow_small2.js-slider-3-left previos
        button.slider-arrow_small.slider-arrow_small2.js-slider-3-right next

  // Footer start here