extends layout 

block content
  // Header end here
  .container
    .h1 Услуги
    .services.block
      .services__toggle
        .row
          .col
            a(href="#", title="Физическим лицам").toggle.toggle_act Физическим лицам 
          .col
            a(href="#", title="Юридическим лицам").toggle Физическим лицам 
      .services__block.act
        .row
          each val, idx in {1: 'Банкротство физического лица',2: 'Гражданские споры',3: 'Жилищные споры',4: 'Защита прав потребителей',5: 'Земельные споры',6: 'Наследственные дела',7: 'Семейные споры',8: 'Кредитные и долговые споры',9: 'Уголовные дела',10: 'Страховые споры'}
            .col.services__item
              a.srv
                img(src="./images/services"+idx+".png").srv__img
                .m-title= val
                .srv__txt.
                  Текст максимум в три строки об услуге, чтобы клиент сразу понял какой раздел ему нужен 
      .services__block
        .row
          each val, idx in {1: 'Банкротство физического лица',2: 'Гражданские споры'}
            .col.services__item
              .srv
                img(src="./images/services"+idx+".png").srv__img
                .srv__title=val
                .srv__txt.
                  Текст максимум в три строки об услуге, чтобы клиент сразу понял какой раздел ему нужен
  .about.block
    .container
      .about__inner
        .h1 О компании
        p.
          Указ реквизирует имущественный акцепт, что часто служит основанием изменения и прекращения гражданских прав и обязанностей. Рефинансирование, если рассматривать процессы в рамках частно-правовой теории, экстремально гарантирует бытовой подряд. Информация недетерминировано защищает обычай делового оборота. Согласно постановлению Правительства РФ, фрахтование возмещает предпринимательский риск, когда речь идет об ответственности юридического лица. 
        p.
          Вексель законодательно подтверждает договор. Ответственность трансформирует страховой полис. Фрахтование, если рассматривать процессы в рамках частно-правовой теории, требует платежный гарант.
        a(href="#get", title="получить консультацию").btn получить консультацию
  
  .container
    .team.block
      .row
        each val in [1,2,3]
          .col
            .team__item
              figure.lawyer
                img(src="./images/team"+val+".jpg").lawyer__img
                figcaption
                  a(href="inner1#lawer"+val) 
                    .m-title Имя Фамилия
                    span Специализация адвоката
        .col
          .team__item
            .all 
              .h1 Адвокаты
              p.
                Адвокаты нашей компании — профессионалы, имеющие очень серьезный опыт решения самых разнообразных вопросов.
              a(href="#", title="все адвокаты").btn.btn_w все адвокаты
  .custom
    .container
      .row
        .col
          .h1 клиенты
          p Каждому клиенту мы оказываем грамотную консультативную помощь и организуем защиту интересов в суде. 
        .col
          .slider2-wrapp
            .slider2.js-slider-2
              each val in [1,2,3]
                .slider2__item
                  .slider2__inner
                    img(src="./images/client"+val+".jpg")
            button.slider-arrow_small.js-slider-1-left previos
            button.slider-arrow_small.js-slider-1-right next

              

                




  // Footer start here