extends layout 

block content
  </header>
  <main>
  // Header end here
  .inner
    .container
      .breadcrumbs
        a(href="/" title="Главная").breadcrumbs__item Коллегия адвокатов «Де-Юре»
        a(href="/inner1.html" title="Адвокаты").breadcrumbs__item Адвокаты
        span.breadcrumbs__item Арбитражные адвокаты
      .row 
        aside.aside.col
          h4 московская<br /> коллегия адвокатов
          ul.leftmenu
            each val in ['Уголовные адвокаты', 'Арбитражные адвокаты', 'Гражданские адвокаты', 'Налоговые адвокаты', 'Корпоративные адвокаты', 'Банковские адвокаты', 'Жилищные адвокаты', 'Семейные адвокаты', 'Адвокаты по наследству', 'Земельные адвокаты', 'Адвокаты по защите прав потребителей', 'Кредитные и долговые адвокаты', 'Адвокаты по недвижимости', 'Договорные адвокаты', 'Адвокаты по банкротству', 'Адвокаты по сопровождению бизнеса', 'Адвокаты по госконтрактам', 'Административные адвокаты', 'Страховые адвокаты']
              li.leftmenu__item
                a(href="/v", title=val).leftmenu__spec= val 
        section.section.col
          .h2 Арбитражные адвокаты
          .lawyers-list
            each lawer, idx in [{name: 'Агриппина Мироненко',spec: 'Арбитражные споры, гражданские дела, налоговые споры, семейные споры, наследство.',txt: 'В 2004 году получила базовое высшее образование, в 2009 году закончила обучение по программе второго высшего экономического образования, в настоящее время зарегистрирована в реестре адвокатов адвокатской палаты города Москвы под регистрационным номером 123456789. Прошла программу обучения на Высших курсах повышения квалификации адвокатов РФ, действующих при Российской академии адвокатуры и нотариата.'},{name: 'Константин Константинопольский',spec: 'Арбитражные споры, гражданские дела.',txt: 'Закончил Московскую Государственную Юридическую Академию в 1997 году по специальности  «Юриспруденция» и получил квалификация «Юрист». В 2007 году в Московской Государственной Юридической Академии защитил диссертацию и ему была присуждена ученая степень кандидата юридических наук. После завершения стажировки в должности помощника адвоката в юридической  консультации №00 Коллегии  адвокатов города Москвы успешно сдал квалификационный экзамен. Практика и приобретенный опыт стали основанием для присвоения статуса адвоката в 1999 году. В течении нескольких лет преподавал. Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера Далее очень длинный текст для проверки слайдера  '}]
              .lawyers-list__item
                .row
                  .col.lawyers-list__pic
                    figure.lawyer
                      img(src="./images/team"+(idx+1)+".jpg").lawyer__img
                  .col.lawyers-list__info
                    .lawyer-card
                      .lawyer-card__name= lawer.name
                      .lawyer-card__spec= lawer.spec
                      .lawyer-card__txt= lawer.txt
                      a(href="/f").expand-link Читать полностью
  // Footer start here