extends layout 

block content
  </header>
  <main>
  // Header end here
  .inner
    .container
      .breadcrumbs
        a(href="/" title="Главная").breadcrumbs__item Коллегия адвокатов «Де-Юре»
        a(href="/inner1.html" title="Адвокаты").breadcrumbs__item Адвокаты
        span.breadcrumbs__item Арбитражные адвокаты
      .row 
        aside.aside.col
          h4 Услуги<br /> коллегия адвокатов
          ul.leftmenu
            each val, idx in ['Банкротство физического лица', 'Гражданские споры', 'Жилищные споры', 'Защита прав потребителей', 'Земельные споры', 'Наследственные дела', 'Семейные споры', 'Кредитные и долговые споры', 'Уголовные дела', 'Страховые споры']
              li.leftmenu__item
                a(href="/v", title=val).leftmenu__srv
                  .leftmenu__img
                    img(src="./images/services"+(idx+1)+".png", alt=""+val)
                  .leftmenu__srv-link= val
        section.section.col
          .h2 Арбитражные адвокаты
          .content
            p.
              Семейные вопросы, в большинстве своем, имеют непростой и крайне спорный характер, особенно в случаях, затрагивающих существенные семейные активы и опеку над детьми. Наши адвокаты по семейным делам представляют интересы клиентов по широкому спектру правовых вопросов, включая трудноразрешимые споры. Мы всегда относимся с пониманием к эмоциональным переживаниям, обусловливающим всякого рода семейные прения, и в полной мере осознаем необходимость поиска деликатных и, в конечном счете, оптимальных решений. Наша команда стремится к своевременному и затратоэффективному урегулированию каждого отдельного семейного спора, что предоставляет доверителю возможность перехода на следующий этап его/её жизни в состоянии душевного покоя и уверенности в себе.
            h4 Мы оказываем помощь по следующим семейным вопросам:
            ul
              each li in [' Расторжение брака','Развод с разделом имущества','Оспаривание брачного контракта','Опека над детьми','Определение места проживания ребенка','Раздел имущества','Алиментные обязательства','Право посещения ребёнка (детей), оставленного судом у одного из супругов','Расторжение или внесение изменений в соглашения об уплате алиментов.']
                li= li
            h4 Индивидуальные решения Ваших проблем 
            p.
              Мы представляем команду адвокатов, которая гордится многолетним опытом предоставления квалифицированной и персонифицированной поддержки каждому клиенту.  С самого первого дня работы с  доверителями наши адвокаты лично встречаются с клиентами, внимательно прислушиваются к  их запросам и ожиданиям, доводят каждое принятое дело до его окончательного завершения.
            p. 
              Мы практикуем проактивный подход на всех этапах  разрешения правовой проблемы — от работы с документами до поиска  эффективных решений и альтернативных способов урегулирования каждого отдельного спора.
          .expand-link-outer
            a(href="#").expand-link Читать полностью
          div.team.team_inner
            .h2 Адвокаты по семейным спорам
            .row
              each val in [1,2,3]
                .col
                  .team__item
                    figure.lawyer
                      img(src="./images/team"+val+".jpg").lawyer__img
                      figcaption
                        a(href="inner1#lawer"+val) 
                          .m-title Имя Фамилия
                          span Специализация адвоката
          .expand-link-outer
            a(href="#").expand-link Все адвокаты
            
  // Footer start here