.breadcrumbs {
	margin: 6px 0 46px;
	@include font(12, 18);
	@include mq(sm) {
		margin: 7px 0 30px;
	}
	@include mq(sm) {
		margin: 7px 0 25px;
	}
	&__item {
		color: #acb6bb;
		
		margin-right: 4px;
		&::after{
			content: "";
			display: inline-block;
			width: 10px;
			height: 1px;
			background: #acb6bb;
			margin-bottom: 3px;
			margin-left: 4px;
		}
		&:last-child {
			&::after {
				display: none;
				margin-right: 0;
			}
		}
	}
}
