
.slider-wrapp {
	position: relative;
}
/**** SLIDER ****/
.slider{
	&__item {
		outline: none;
	}
	&__info {
		padding-top: 90px;
		.title {
			@include font(54,54,400,$serif);
			text-transform: uppercase;
		}
		p {
			padding-right: 70px;
			line-height: 1.75em;
		}
		.btn {
			margin-top: 18px;
		}
	}
}

/**** ARROWS ****/
.slider-arrow {
	position: absolute;
	text-indent: -99999px;
	padding: 0;
	border: 0;
	line-height: 0;
	top: calc(50% - 26px);
	background-color: transparent;
	&:hover {
		cursor: pointer;
	}
	&:first-of-type {
		left: 13px;
		@include sprite($arrow_left);
		&:hover {
			@include sprite($arrow-hov_left);
		}
	}
	&:last-of-type {
		right: 13px;
		@include sprite($arrow_right);
		&:hover {
			@include sprite($arrow-hov_right);
		}
	}
}
