
.slider-wrapp {
	position: relative;
	height: 100%;
	padding: 90px 80px;
	@include mq(lg){
		padding: 55px;
	}
	@include mq(md){
		padding: 15px 33px;
	}
	&_feedback {
		padding: 35px 83px 0;
		@include mq(lg) {
			padding: 33px 0 0;
		}
		@include mq(xs) {
			padding: 18px 0 0;
		}
	}
}
/**** SLIDER ****/
.slider{
	&__item {
		outline: none;
	}
	&__inner {
		flex-wrap: nowrap;
		@include mq(md){
			flex-wrap: wrap;
		}
	}
	&__pic {
		@include mq(md) {
			text-align: center;
		}
	}
	&__info {
		padding-top: 90px;
		@include mq(lg) {
			padding-top: 25px;
		}
		@include mq(sm) {
			flex-basis: 100%;
			padding-top: 0;
			margin-top: -20px;
		}
		.title {
			@include font(54,54,400,$serif);
			text-transform: uppercase;
			@include mq(lg) {
				@include font(38,42,400,$serif);
			}
			@include mq(md) {
				@include font(34,38,400,$serif);
				br {
					display: none;
				}
			}
			@include mq(sm) {
				@include font(24,28,400,$serif);
			}
		}
		p {
			padding-right: 70px;
			line-height: 1.75em;
			@include mq(sm) {
				padding-right: 0;
				@include font(13,20);
			}
		}
		.btn {
			margin: 18px 0 28px;
			@include mq(sm) {
					@include font(14,22,$font: $serif);
					margin: 3px 0 28px;
					padding: 6px 15px;
			}
		}
	}
}

.slider2 {
	height: 100%;
	&__item {
		height: 100%;
		padding: 0 15px;
		position: relative;
	}
	&__inner {
		position: relative;
		padding-bottom: 100%;
		overflow: hidden;
		@include mq(xs){
			padding-bottom: 45%;
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.slider3 {
	&__item {
		padding-left: $gutter;
		padding-right: $gutter;
		@include mq(sm) {
			font-size: 0.9em;
		}
		@include mq(xs) {
			font-size: 0.8em;
		}
	}
	.feedback {
		border: 1px solid #e5e7e9;
		padding: 25px 15px;
		margin: 20px 0 20px;
		position: relative;
		&::before {
			content: " ";
			display: block;
			position: absolute;
			top: -19px;
			left: 10px;
			@include sprite($ico-feedback);
		}
		&::after {
			content: " ";
			display: block;
			position: absolute;
			bottom: -11px;
			left: 45px;
			@include sprite($feedback-corn);
		}
	}
	.author {
		@include font(22,26,700,$serif);
	}
}

/**** ARROWS ****/
.slider-arrow {
	position: absolute;
	text-indent: -99999px;
	padding: 0;
	border: 0;
	line-height: 0;
	top: calc(50% - 45px);
	background-color: transparent;
	@include mq(md) {
		top: 165px;
	}
	@include mq(sm) {
		display: none;
	}
	&:hover {
		cursor: pointer;
	}
	&:first-of-type {
		left: 0;
		@include sprite($arrow_left);
		&:hover {
			@include sprite($arrow-hov_left);
		}
	}
	&:last-of-type {
		right: 0;
		@include sprite($arrow_right);
		&:hover {
			@include sprite($arrow-hov_right);
		}
	}
}
.slider-arrow_small {
	position: absolute;
	font-size: 0;
	padding: 0;
	border: 0;
	line-height: 0;
	top: calc(50% - 18px);
	padding: 5px 10px;
  background: #fff;
  border: 1px solid #fff;
  transition: all .2s ease-in;
	&2 {
		background: #f2f3f8;
	}
	&:first-of-type {
		left: 30px;
		@include mq(lg){
			left: 0;
		}
		&::before{
			content: " ";
			display: block;
			@include sprite($arrow-small_left);
		}
		
	}
	&:last-of-type {
		right: 30px;
		@include mq(lg){
			right: 0;
		}
		&::before {
			content: " ";
			display: block;
			@include sprite($arrow-small_right);
		}
	}
	&:hover {
		border: 1px solid $orange;
	}
}
/**** DOTS ****/
.slider-dots {
	width: 40%;
	position: absolute;
	right: 0;
	bottom: 60px;
	@include mq(md) {
		width: 50%;
		bottom: 40px;
	}
	@include mq(sm){
		bottom: 30px;
	}
}

.slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	li {
		display: inline-block;
		margin: 0 3px;
		button {
			text-indent: -9999px;
			border: 0;
			padding: 0;
			background-color: transparent;
			@include sprite($dot);
		}
		&.slick-active {
			button {
				@include sprite($dot_act);
			}
		}
		&:hover {
			button {
				@include sprite($dot_act);
			}
		}
	}

}