
.slider-wrapp {
	position: relative;
	height: 100%;
	padding: 90px 80px;
}
/**** SLIDER ****/
.slider{
	&__item {
		outline: none;
	}
	&__info {
		padding-top: 90px;
		.title {
			@include font(54,54,400,$serif);
			text-transform: uppercase;
		}
		p {
			padding-right: 70px;
			line-height: 1.75em;
		}
		.btn {
			margin-top: 18px;
		}
	}
}

.slider2 {
	height: 100%;
	&__item {
		height: 100%;

	}
}
/**** ARROWS ****/
.slider-arrow {
	position: absolute;
	text-indent: -99999px;
	padding: 0;
	border: 0;
	line-height: 0;
	top: calc(50% - 26px);
	background-color: transparent;
	&:hover {
		cursor: pointer;
	}
	&:first-of-type {
		left: 0;
		@include sprite($arrow_left);
		&:hover {
			@include sprite($arrow-hov_left);
		}
	}
	&:last-of-type {
		right: 0;
		@include sprite($arrow_right);
		&:hover {
			@include sprite($arrow-hov_right);
		}
	}
}
.slider-arrow_small {
	position: absolute;
	font-size: 0;
	padding: 0;
	border: 0;
	line-height: 0;
	top: calc(50% - 18px);
	padding: 5px 10px;
  background: #fff;
  border: 1px solid #fff;
  transition: all .2s ease-in;
	&:first-of-type {
		&::before{
			content: " ";
			display: block;
			@include sprite($arrow-small_left);
		}
		left: 30px;
	}
	&:last-of-type {
		&::before {
			content: " ";
			display: block;
			@include sprite($arrow-small_right);
		}
		right: 30px;
	}
	&:hover {
		border: 1px solid $orange;
	}
}