// Baze layout
html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	color: $default-color;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	@include font;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: auto;
	font-size: #{$base-font-size}px;
	line-height: #{$base-line-height}px;
	.body {
		max-width: 1920px;
	}
}
main {
	flex-grow: 1;
}

.container {
	margin: 0 auto;
	padding: 0 $gutter;
	width: 1170px;
	@each $container, $width in $container-widths {
		@include mq(#{$container}){
			width: $width;
		}
	}
}

.row {
	display: flex;
	margin: 0 -#{$gutter};
	flex-wrap: wrap;
}
.col {
	padding: 0 $gutter;
	flex: 1;
}

.block {
	padding: 38px 0;
	@include mq(md){
		padding: 33px 0;
	}
	@include mq(sm){
		padding: 30px 0;
	}
	@include mq(xs){
		padding: 20px 0;
	}
}

// Normalize

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

figure {
	margin: 0;
}

progress {
	vertical-align: baseline;
}

//Nav

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

// Links

a {
	background-color: transparent;
	color: $link;
	display: inline-block;
	transition: all .2s ease-in;
	&:active,
	&:hover,
	&:focus,
	&.act {
		outline-width: 0;
		color: $link-hov;
		text-decoration: none;
	}
	&[href^='#']:not(.btn),
	&[href^='mailto'] {
		text-decoration: none;
	}
	&[href^='#']:not(.btn):not(.expand-link):not(.drop-menu__link) {
		border-bottom: 1px dashed $link;
		&:hover,
		&.act,
		&:focus {
			border-bottom: 1px dashed transparent;
		}
	}
	&[href^='mailto']{
		border-bottom: 1px solid $head-link;
		&:hover,
		&.act,
		&:focus {
			border-bottom: 1px solid transparent;
		}
	}
	&:focus {
		outline: 1px solid $soft-orange;
	}
}

// Hidden

.hidden {
	display: none;
}

// Images

img {
	display: block;
	max-width: 100%;
}
svg:not(:root) {
	overflow: hidden;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.25em;
	color: $link-hov;
}

small {
	font-size: 80%;
}
b,
strong {
	font-weight: bolder;
}
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

// Headers

h1, .h1 {
	@include font(48,52,400,$serif);
	text-transform: uppercase;
	text-align: center;
	margin: 22px 0;
	color: $header;
	@include mq(lg){
		@include font(46,50,400,$serif);
		margin: 18px 0;
	}
	@include mq(md){
		@include font(42,46,400,$serif);
	}
	@include mq(sm){
		@include font(38,42,400,$serif);
		margin: 10px 0;
	}
	@include mq(xs){
		@include font(34,38,400,$serif);
	}
}
h2, .h2 {
	@include font(36,38,400,$serif);
	text-transform: uppercase;
	color: $header;
	margin: 22px 0;
	@include mq(md){
		@include font(34,36,400,$serif);
		margin: 18px 0;
	}
	@include mq(sm){
		@include font(30,32,400,$serif);
	}
	@include mq(xs){
		@include font(26,28,400,$serif);
	}
}
h3, .h3 {
	@include font(30,32,400,$serif);
	text-transform: uppercase;
	color: $header;
	margin: 13px 0;
	@include mq(md){
		@include font(28,30,400,$serif);
		margin: 8px 0;
	}
	@include mq(sm){
		@include font(26,28,400,$serif);
		margin: 6px 0;
	}
}
h4, .h4 {
	@include font(20,24,700,$serif);
	text-transform: uppercase;
	color: $header;
	margin: 13px 0;
	@include mq(lg){
		br {display: none}
	}
	@include mq(sm){
		@include font(18,22,400,$serif);
		margin: 6px 0;
	}
}
.sub-title {
	@include font(24,26,400,$serif);
	color: $header;
	@include mq(md) {
		@include font(22,24,400,$serif);
	}
	@include mq(sm){
		@include font(20,22,400,$serif);
	}
}