// Baze layout
html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	color: $default-color;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	@include font;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: auto;
	font-size: #{$base-font-size}px;
	line-height: #{$base-line-height}px;
	.body {
		max-width: 1920px;
	}
}
main {
	flex-grow: 1;
}

.container {
	margin: 0 auto;
	padding: 0 $gutter;
	width: 1170px;
	@each $container, $width in $container-widths {
		@include mq(#{$container}){
			width: $width;
		}
	}
}

.row {
	display: flex;
	margin: 0 -#{$gutter};
	flex-wrap: wrap;
}
.col {
	padding: 0 $gutter;
	flex: 1;
}

.block {
	padding: 38px 0;
}

// Normalize

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

figure {
	margin: 0;
}

progress {
	vertical-align: baseline;
}

//Nav

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

// Links

a {
	background-color: transparent;
	color: $link;
	display: inline-block;
	transition: color .2s ease-in;
	&:active,
	&:hover,
	&:focus,
	&.act {
		outline-width: 0;
		color: $link-hov;
		text-decoration: none;
		h3, .h3 {
			color: $link-hov;
		}
	}
	&[href^='#']:not(.btn){
		text-decoration: none;
		border-bottom: 1px dashed $link;
		&:hover,
		&.act {
			border-bottom: 1px dashed transparent;
		}
	}
	&.block-link {
		text-decoration: none;
		color: $default-color;
	}
}

// Images

img {
	display: block;
	max-width: 100%;
}
svg:not(:root) {
	overflow: hidden;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.25em;
	color: $link-hov;
}

small {
	font-size: 80%;
}
b,
strong {
	font-weight: bolder;
}
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

// Headers

h1, .h1 {
	@include font(48,52,400,$serif);
	text-transform: uppercase;
	text-align: center;
	margin: 18px 0;
	@include mq(sm){
		@include font(36, 38, 700,$serif);
	}
}
h2, .h2 {
	@include font(42,46,400,$serif);
	text-transform: uppercase;
	color: $header;
	margin: 15px 0;
	@include mq(sm){
		@include font(34,36,400,$serif);
	}
}
h3, .h3 {
	@include font(34,38,400,$serif);
	color: $header;
	margin: 10px 0;
	@include mq(sm){
		@include font(26,28,400,$serif);
	}
}