// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow_left';
$arrow-left-x: 0px;
$arrow-left-y: 43px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: -43px;
$arrow-left-width: 30px;
$arrow-left-height: 90px;
$arrow-left-total-width: 213px;
$arrow-left-total-height: 144px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (0px, 43px, 0px, -43px, 30px, 90px, 213px, 144px, '../images/sprite.png', 'arrow_left', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 90px;
$arrow-right-y: 43px;
$arrow-right-offset-x: -90px;
$arrow-right-offset-y: -43px;
$arrow-right-width: 30px;
$arrow-right-height: 90px;
$arrow-right-total-width: 213px;
$arrow-right-total-height: 144px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (90px, 43px, -90px, -43px, 30px, 90px, 213px, 144px, '../images/sprite.png', 'arrow_right', );
$arrow-hov-left-name: 'arrow-hov_left';
$arrow-hov-left-x: 30px;
$arrow-hov-left-y: 43px;
$arrow-hov-left-offset-x: -30px;
$arrow-hov-left-offset-y: -43px;
$arrow-hov-left-width: 30px;
$arrow-hov-left-height: 90px;
$arrow-hov-left-total-width: 213px;
$arrow-hov-left-total-height: 144px;
$arrow-hov-left-image: '../images/sprite.png';
$arrow-hov-left: (30px, 43px, -30px, -43px, 30px, 90px, 213px, 144px, '../images/sprite.png', 'arrow-hov_left', );
$arrow-hov-right-name: 'arrow-hov_right';
$arrow-hov-right-x: 60px;
$arrow-hov-right-y: 43px;
$arrow-hov-right-offset-x: -60px;
$arrow-hov-right-offset-y: -43px;
$arrow-hov-right-width: 30px;
$arrow-hov-right-height: 90px;
$arrow-hov-right-total-width: 213px;
$arrow-hov-right-total-height: 144px;
$arrow-hov-right-image: '../images/sprite.png';
$arrow-hov-right: (60px, 43px, -60px, -43px, 30px, 90px, 213px, 144px, '../images/sprite.png', 'arrow-hov_right', );
$arrow-small-left-name: 'arrow-small_left';
$arrow-small-left-x: 195px;
$arrow-small-left-y: 67px;
$arrow-small-left-offset-x: -195px;
$arrow-small-left-offset-y: -67px;
$arrow-small-left-width: 11px;
$arrow-small-left-height: 20px;
$arrow-small-left-total-width: 213px;
$arrow-small-left-total-height: 144px;
$arrow-small-left-image: '../images/sprite.png';
$arrow-small-left: (195px, 67px, -195px, -67px, 11px, 20px, 213px, 144px, '../images/sprite.png', 'arrow-small_left', );
$arrow-small-right-name: 'arrow-small_right';
$arrow-small-right-x: 195px;
$arrow-small-right-y: 37px;
$arrow-small-right-offset-x: -195px;
$arrow-small-right-offset-y: -37px;
$arrow-small-right-width: 11px;
$arrow-small-right-height: 20px;
$arrow-small-right-total-width: 213px;
$arrow-small-right-total-height: 144px;
$arrow-small-right-image: '../images/sprite.png';
$arrow-small-right: (195px, 37px, -195px, -37px, 11px, 20px, 213px, 144px, '../images/sprite.png', 'arrow-small_right', );
$dot-act-name: 'dot_act';
$dot-act-x: 120px;
$dot-act-y: 43px;
$dot-act-offset-x: -120px;
$dot-act-offset-y: -43px;
$dot-act-width: 14px;
$dot-act-height: 14px;
$dot-act-total-width: 213px;
$dot-act-total-height: 144px;
$dot-act-image: '../images/sprite.png';
$dot-act: (120px, 43px, -120px, -43px, 14px, 14px, 213px, 144px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 134px;
$dot-y: 43px;
$dot-offset-x: -134px;
$dot-offset-y: -43px;
$dot-width: 14px;
$dot-height: 14px;
$dot-total-width: 213px;
$dot-total-height: 144px;
$dot-image: '../images/sprite.png';
$dot: (134px, 43px, -134px, -43px, 14px, 14px, 213px, 144px, '../images/sprite.png', 'dot', );
$drop-border-act-name: 'drop-border_act';
$drop-border-act-x: 0px;
$drop-border-act-y: 0px;
$drop-border-act-offset-x: 0px;
$drop-border-act-offset-y: 0px;
$drop-border-act-width: 165px;
$drop-border-act-height: 43px;
$drop-border-act-total-width: 213px;
$drop-border-act-total-height: 144px;
$drop-border-act-image: '../images/sprite.png';
$drop-border-act: (0px, 0px, 0px, 0px, 165px, 43px, 213px, 144px, '../images/sprite.png', 'drop-border_act', );
$drop-border-name: 'drop-border';
$drop-border-x: 0px;
$drop-border-y: 133px;
$drop-border-offset-x: 0px;
$drop-border-offset-y: -133px;
$drop-border-width: 165px;
$drop-border-height: 11px;
$drop-border-total-width: 213px;
$drop-border-total-height: 144px;
$drop-border-image: '../images/sprite.png';
$drop-border: (0px, 133px, 0px, -133px, 165px, 11px, 213px, 144px, '../images/sprite.png', 'drop-border', );
$feedback-corn-act-name: 'feedback-corn_act';
$feedback-corn-act-x: 165px;
$feedback-corn-act-y: 119px;
$feedback-corn-act-offset-x: -165px;
$feedback-corn-act-offset-y: -119px;
$feedback-corn-act-width: 21px;
$feedback-corn-act-height: 12px;
$feedback-corn-act-total-width: 213px;
$feedback-corn-act-total-height: 144px;
$feedback-corn-act-image: '../images/sprite.png';
$feedback-corn-act: (165px, 119px, -165px, -119px, 21px, 12px, 213px, 144px, '../images/sprite.png', 'feedback-corn_act', );
$feedback-corn-name: 'feedback-corn';
$feedback-corn-x: 186px;
$feedback-corn-y: 119px;
$feedback-corn-offset-x: -186px;
$feedback-corn-offset-y: -119px;
$feedback-corn-width: 21px;
$feedback-corn-height: 12px;
$feedback-corn-total-width: 213px;
$feedback-corn-total-height: 144px;
$feedback-corn-image: '../images/sprite.png';
$feedback-corn: (186px, 119px, -186px, -119px, 21px, 12px, 213px, 144px, '../images/sprite.png', 'feedback-corn', );
$ico-checkbox-off-name: 'ico-checkbox-off';
$ico-checkbox-off-x: 165px;
$ico-checkbox-off-y: 97px;
$ico-checkbox-off-offset-x: -165px;
$ico-checkbox-off-offset-y: -97px;
$ico-checkbox-off-width: 22px;
$ico-checkbox-off-height: 22px;
$ico-checkbox-off-total-width: 213px;
$ico-checkbox-off-total-height: 144px;
$ico-checkbox-off-image: '../images/sprite.png';
$ico-checkbox-off: (165px, 97px, -165px, -97px, 22px, 22px, 213px, 144px, '../images/sprite.png', 'ico-checkbox-off', );
$ico-checkbox-on-name: 'ico-checkbox-on';
$ico-checkbox-on-x: 187px;
$ico-checkbox-on-y: 97px;
$ico-checkbox-on-offset-x: -187px;
$ico-checkbox-on-offset-y: -97px;
$ico-checkbox-on-width: 22px;
$ico-checkbox-on-height: 22px;
$ico-checkbox-on-total-width: 213px;
$ico-checkbox-on-total-height: 144px;
$ico-checkbox-on-image: '../images/sprite.png';
$ico-checkbox-on: (187px, 97px, -187px, -97px, 22px, 22px, 213px, 144px, '../images/sprite.png', 'ico-checkbox-on', );
$ico-fb-name: 'ico-fb';
$ico-fb-x: 165px;
$ico-fb-y: 37px;
$ico-fb-offset-x: -165px;
$ico-fb-offset-y: -37px;
$ico-fb-width: 30px;
$ico-fb-height: 30px;
$ico-fb-total-width: 213px;
$ico-fb-total-height: 144px;
$ico-fb-image: '../images/sprite.png';
$ico-fb: (165px, 37px, -165px, -37px, 30px, 30px, 213px, 144px, '../images/sprite.png', 'ico-fb', );
$ico-feedback-name: 'ico-feedback';
$ico-feedback-x: 165px;
$ico-feedback-y: 0px;
$ico-feedback-offset-x: -165px;
$ico-feedback-offset-y: 0px;
$ico-feedback-width: 48px;
$ico-feedback-height: 37px;
$ico-feedback-total-width: 213px;
$ico-feedback-total-height: 144px;
$ico-feedback-image: '../images/sprite.png';
$ico-feedback: (165px, 0px, -165px, 0px, 48px, 37px, 213px, 144px, '../images/sprite.png', 'ico-feedback', );
$ico-in-name: 'ico-in';
$ico-in-x: 165px;
$ico-in-y: 67px;
$ico-in-offset-x: -165px;
$ico-in-offset-y: -67px;
$ico-in-width: 30px;
$ico-in-height: 30px;
$ico-in-total-width: 213px;
$ico-in-total-height: 144px;
$ico-in-image: '../images/sprite.png';
$ico-in: (165px, 67px, -165px, -67px, 30px, 30px, 213px, 144px, '../images/sprite.png', 'ico-in', );
$link-corn-name: 'link-corn';
$link-corn-x: 195px;
$link-corn-y: 57px;
$link-corn-offset-x: -195px;
$link-corn-offset-y: -57px;
$link-corn-width: 14px;
$link-corn-height: 7px;
$link-corn-total-width: 213px;
$link-corn-total-height: 144px;
$link-corn-image: '../images/sprite.png';
$link-corn: (195px, 57px, -195px, -57px, 14px, 7px, 213px, 144px, '../images/sprite.png', 'link-corn', );
$mobile-menu-ico-name: 'mobile-menu-ico';
$mobile-menu-ico-x: 165px;
$mobile-menu-ico-y: 131px;
$mobile-menu-ico-offset-x: -165px;
$mobile-menu-ico-offset-y: -131px;
$mobile-menu-ico-width: 15px;
$mobile-menu-ico-height: 13px;
$mobile-menu-ico-total-width: 213px;
$mobile-menu-ico-total-height: 144px;
$mobile-menu-ico-image: '../images/sprite.png';
$mobile-menu-ico: (165px, 131px, -165px, -131px, 15px, 13px, 213px, 144px, '../images/sprite.png', 'mobile-menu-ico', );
$spritesheet-width: 213px;
$spritesheet-height: 144px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $arrow-hov-left, $arrow-hov-right, $arrow-small-left, $arrow-small-right, $dot-act, $dot, $drop-border-act, $drop-border, $feedback-corn-act, $feedback-corn, $ico-checkbox-off, $ico-checkbox-on, $ico-fb, $ico-feedback, $ico-in, $link-corn, $mobile-menu-ico, );
$spritesheet: (213px, 144px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
